<!doctype html>
<html>
    <head>
        <title>Document Uploads</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
    </head>
    <body>
        <h2>Upload PDF Documentation</h2>
        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="store_file" />
            <input type="submit" value="Upload" />
        </form>
        <p>
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="documents">Documentation Listing</a></li>
            </ul>
        </p>
    </body>
</html>